{% extends 'main.html' %}

{% block content %}

<div class="page-content--bge5">
    <div class="container">
        <div class="login-wrap">
            <div class="wrapper">
                <div class="title">
                  </div>
                  <div class="form">
                    <form action="" method="POST" >
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="inputfield">
                            <label>{{field.label}}</label>
                            {{field}}
                         </div>
                         {% endfor %}
                         <div class="inputfield">
                            <input type="submit" value="Submit" class="btn">
                         </div>                         
                    </form>    
                  </div>
            </div>
        </div>
    </div>
</div>


    
    <!-- <form action="" method="post">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
        {% endfor %}

        {% for field in form %}
        <div class="form-group">
            {{field.label}}
            {{field}}
        </div>
       
        {% if field.errors %}
        <div class="alert alert-danger">
            {{field.errors}}
        </div>
        {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-success">Change Password</button>

    </form>
     -->
{% endblock %}