
<style>
    #uni_modal .modal-footer {
        display: none
    }
    
    #uni_modal .modal-sub-footer {
        display: flex
    }
    
    .id-card {
        width: 3in;
        height: 52vh;
        border: 2px solid var(--bs-dark);
        padding: 2rem 1.5rem;
    }
    
    #card-qr,
    #card-avatar {
        width: 9rem;
        height: 9rem;
    }
</style>
<div class="container-fluid" id="id-card">
    <div class="d-flex mb-3">
        <div class="px-2">
            <div class="id-card">
                <div class="head-text text-center fw-bolder"></div>
                <div class="d-flex w-100 justify-content-center my-4">
                    <img src="{% if student.StImage %}{{student.StImage.url}}{% endif %}" id="card-avatar" class="img-thumbnail" alt="">
                </div>
                <div class="lh-1">
                    <div class="text-center fw-bold">{{ student.StName }}</div>
                    <div class="text-center fw-light text-sm">{{ student.StDob }}</div>
                    <div class="text-center fw-light text-sm">{{ student.StAddress }}</div>
                </div>
                <div class="lh-1 text-center">
                    <div class="text-center"><b>{{student.StNum}}</b></div>
                </div>
            </div>
        </div>
        <div class="px-2">
            <div class="id-card">
                <div class="lh-1">
                    <dl>
                        <dt>student Code</dt>
                        <dd>{{student.StNum}}</dd>
                        <dt>Department</dt>
                        <dd>{{student.StDob}}</dd>
                        <dt>Position</dt>
                        <dd>{{student.StEmail}}</dd>
                        <dt>Gender</dt>
                        <dd>{{student.StGender}}</dd>
                        <dt>Date of Birth</dt>
                        <dd>{{student.StDob|date:'M d, Y'}}</dd>
                        <dt>Contact #</dt>
                        <dd>{{student.StPhone}}</dd>
                        <dt>Email</dt>
                        <dd>{{student.StEmail}}</dd>
                        <dt>Address</dt>
                        <dd><small>{{student.StAddress}}</small></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
